# Eclipse Workspace metadata
.metadata
.classpath
.project
# Mac OS detritus
.DS_Store

.gradle/
cnf/cache/
bin/
bin_test/
reports/
generated/
_rt/
_results/
_wrk/
io.klib.app.p2.mirror/repo

biz.aQute.bnd*.jar
bnd.cmd
