# Eclipse Workspace metadata
.metadata
.project
.classpath
# Eclipse Buildship metadata
**/.settings/
# Mac OS detritus
.DS_Store

.gradle/
.gradle-local/
cnf/cache/
bin/
bin_test/
reports/
generated/
_rt/
_results/
_wrk/
io.klib.app.p2.mirror/repo

biz.aQute.bnd*.jar
bnd.cmd
