<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/ file:///usr/share/openbox/menu.xsd">
    <menu id="root-menu" label="Openbox 3">
        <item label="Terminal">
            <action name="Execute">
                <execute>/usr/bin/x-terminal-emulator</execute>
            </action>
        </item>
        <item label="Htop">
            <action name="Execute">
                <execute>/usr/bin/x-terminal-emulator -e htop</execute>
            </action>
        </item>
        <item label="PCManFM">
            <action name="Execute">
                <execute>/usr/bin/pcmanfm</execute>
            </action>
        </item>
        <item label="App UI">
            <action name="Execute">
                <execute>/data/jre/bin/java -jar /data/app.ui_linux.gtk.x86-64.jar</execute>
            </action>
        </item>
        <item label="RCP UI">
            <action name="Execute">
                <execute>/data/jre/bin/java -jar /data/ui_linux.gtk.x86-64.jar</execute>
            </action>
        </item>
        <item label="EquinoxApp">
            <action name="Execute">
                <execute>/data/jre/bin/java -jar /data/12_equinoxapp_linux.gtk.x86-64.jar</execute>
            </action>
        </item>
    </menu>
</openbox_menu>
